<!DOCTYPE html>
<html>
    <head>
        <link href="/css/footer.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div id="footer">
            <h1>made by love by Giacomo Maggiore</h1>
            
            
        </div>
    </body>

</html>