<!DOCTYPE html>
<html>
    <head>
        <link href="/css/footer.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div id="footer">
        <a href="/about">
            <h1 id="made_by_love">made by love by Giacomo Maggiore</h1>
        </a>    
            
        </div>
    </body>

</html>