<!DOCTYPE html>
<html>
    <head>
        <link href="/css/header.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div id="header">
            <div id="titolo_div">
            <a href="/about"><h1 id="titolo_header">GIACOMO'S BOOKSHELF</h1></a>
            </div>
            <div id="instagram_logo_div">
                
                <a href="https://www.instagram.com/giacomaggiore/" target="_blank" id="instagram_link_div">
                    <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png?w=360" id="instagram_logo">
                </a>
               
                
            </div>
        </div>
        
            
    </body>

</html>