<!DOCTYPE html>
<html>
    <head>
        <link href="/css/about.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="about">
        <h1 class="titoli_about" id="suggest_me">
                <a target="_blank" id="suggest_me" href="https://docs.google.com/forms/d/e/1FAIpQLScl9MtspBNAhXUC4AgYPMpWi1UlHD599q9P998ZI-7NDIlDxQ/viewform">
                    If you want to suggest Giacomo a book click here
                </a>
        </h1>
        <h1 class="titoli_about">This project is developed by Giacomo Maggiore</h1>
        <h1 class="titoli_about">This project is developed without any commercial purposes</h1>
        <h1 class="titoli_about">This project is developed without any professional skills</h1>
        <h1 class="titoli_about">This project doesn't contain added sugar</h1>
        <h1 class="titoli_about">All the books mentioned have been read by Giacomo Maggiore</h1>

        </div>
    </body>
</html>