<!-- PASSARE VARIABILI-->
<h1>Hello <%= people[0].name %> </h1>

<!--    FOOR LOOP-->
<ul>
    <% for(var person of people) { %>
    <li> <%= person.name %> </li>
    <% } %>

</ul>

<!-- ELSE // IF STATEMENT-->
<ul>
    <% for(var person of people) { %>
        <% if(person.name == "Michele"){  %>
            <li> This is <%= person.name %> </li>
        <% }else{  %>
            
            <li> <%=person.name %> is not "Michele</li>
            <% } %>
    <% } %>

</ul>


<h3> This is the child INDEX file</h3>