<!DOCTYPE html>
<html>
    <head>

        <!-- GOOGLE ADS-->

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9423319222836262"
        crossorigin="anonymous"></script>


        <!--GOOGLE TAG------------------------------------------------------>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JSTXC05NCS"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JSTXC05NCS');
        </script>

        <!------FAVICON----------------------------------------------------->
        <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

        <!--CSS------------------------------------------------------------->
        <link href="/css/layout.css" rel="stylesheet" type="text/css">

        <!--FONTS----------------------------------------------------------->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <% %>
        <% %>
        <% %>
 
        



        <%- include("partials/header") %>
        <%- body %>
        <%- include("partials/footer") %>

        <script type="text/javascript" src="./js/backend.js"></script>
    </body>


</html>