<!DOCTYPE html>
<html>
    <head>
        <link href="/css/layout.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <% %>
        <% %>
        <% %>

        



        <%- include("partials/header") %>
        <%- body %>
        <%- include("partials/footer") %>


    </body>


</html>