<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <%- include("partials/header") %>
        <% for(let count = 0; count <= 10; count++ ){ %>
            <%- include("partials/libro") %>
        <% } %>
        
        <%- include("partials/footer") %>


    </body>


</html>