<!DOCTYPE html>
<html>
    <head>
        <link href="/css/library.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="libreria">
            <!-- CALCOLO DI QUANTI LIBRI VANNO RENDERIZZATI A MULTIPLI DI 6-->
            <% let numero = (Math.floor(dimensione/6)) * 6%>
            <% console.log(numero)%>
            


            <% for (i = 0; i < numero; i++){ %>
                <div id="singolo-libro">
                    <!-- <h1> <%= data[i].titolo %> </h1> -->
                    <!-- <a target="_blank" href=<%= data[i].link %> >  --> 
                    <a href="/<%= i %>">    
                        <img id="copertina" src= <%= data[i].src %> >
                    
                    </a> 
                    
                </div>    
                
            <% }%>
            
            
        </div>

    </body>
</html>