<!DOCTYPE html>
<html>
    <head>
        <link href="/css/recensione.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="recensione">
            <div id="recensione_copertina_div">
                <img 
                id="recensione_copertina"        
                src= <%= libro.src %>  >
            </div>
            <div id="testo_recensione">
                
                <h1> <%= libro.titolo %> </h1>
                <p> <%= libro.citazione %></p>
            </div>
    
        </div>
    </body>
</html>