/*CSS GENERALI -----------------------------------------------------------------------------------*/

#header{
    /*l'altezza dell'header è definita in layout.css
    i colori di sfondo sono gestiti in layout.css */
    width: 100%;

    width: 100%;

    display: flex;
    justify-content: space-between;  
}

/* TITOLO-------------------------------------------------------------------------------*/
#titolo_div{
    display: flex;
    align-items: center;
}


#titolo_header{
    padding-left: 2vw;
    font-size: 350%;
}

#titolo_header:hover{
    text-decoration: line-through;
}

/* INSTAGRAM LOGO AND LINK---------------------------------------------------------------- */
#instagram_logo_div{
    height: 100%;

    display: flex;
    flex-direction: row-reverse;

}

#instagram_link_div{
    height: 100%;

    display: flex;
    align-items: center;
    padding-right: 2vw;
}
/*NONOSTANTE SIA STILATA NELLA SEZIONE DEKSTOP E CSS QUA SOTTO TENGO L'HEIGHT DI DEFAULT A 70 IN MODO
CHE NON FACCIA EFFETTO GLITCH DURANTE IL CARICAMENTO DELLA PAGINA*/
#instagram_logo{
    height: 70%;
}



/*---------------------------------------------------------------------------------------------/*
/*---------------------------------------------------------------------------------------------/*
/*DESKTOP CSS------------------------------------------------------------------------------------*/


#instagram_logo.desktop{
    height: 70%;
}


/*MOBILE CSS------------------------------------------------------------------------------------ */
#titolo_header.mobile{
    padding-left: 2vw;
    font-size: 400%;
}


#instagram_logo.mobile{
    height: 40%;
}