/* CSS COMUNI -----------------------------------------------------------------------------------------------*/
#libreria{
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    justify-content: space-around;

}

#singolo-libro{
    width: 16vh;

    text-align: center;
    display: flex;
    align-items: center;

}
#copertina{
    width: 70%;
}


/* DESKTOP CSS------------------------------------------------------------------------------------------------------------------ */

#singolo-libro.desktop{
    width: 16vw;
}

/*MOBILE CSS ----------------------------------------------------------------------------------------------------------------*/
#singolo-libro.mobile{
    width: 32vw;
}

