/*GENERAL CSS ---------------------------------------------------------------------------------------------*/
#recensione{
    display: flex;
}

#recensione_copertina_div{
    background-color: white;
    /* WIDTH -----------------------------------*/
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    
}
#recensione_copertina{
    height: 90%;
}

#testo_recensione{
    /* WIDTH -----------------------------------*/
    width: 60%;
   
}
#testo_recensione_div{
    padding: 20px;
    width: 80%;
}

#titolo_recensione{
    font-size: 270%;
}

#citazione_recensione{
    font-style: italic;
    font-size: 150%;
    color: #7A7574;

}
#div_recensione_recensione{
    background-color: transparent;
}

#recensione_recensione{
    font-size: 160%;
}

/*---------------------------------------------------------------------------------------------*/
/*DESKTOP CSS----------------------------------------------------------------------------------*/

/*MOBILE CSS-----------------------------------------------------------------------------------*/
#titolo_recensione.mobile{
    font-size: 370%;
}

#citazione_recensione.mobile{
    font-style: italic;
    font-size: 250%;
    color: #7A7574;

}


#testo_recensione.mobile{
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;

    justify-content: space-around;
}
#testo_recensione_div.mobile{
    width: 80%;
    height: 80%;

    flex-direction: column;

    justify-content: space-around;
}
#recensione_recensione.mobile{
    font-size: 230%;

    display: flex;
    
}

#recensione_copertina_div.mobile{
    /*non si visualizza il div contentente l'immagine della copertina*/
    display: none;
}