#recensione{
    display: flex;

}

#recensione_copertina_div{
    background-color: white;
    /* WIDTH -----------------------------------*/
    width: 40%;


    display: flex;
    align-items: center;
    justify-content: center;

    
}
#recensione_copertina{
    height: 90%;
}

#testo_recensione{
    /* WIDTH -----------------------------------*/
    width: 60%;

   
}
#testo_recensione_div{
    padding: 20px;
    width: 80%;
}

#titolo_recensione{
    font-size: 270%;
}

#citazione_recensione{
    font-style: italic;
    font-size: 150%;
    color: #7A7574;

}
#div_recensione_recensione{
    background-color: transparent;
}

#recensione_recensione{
    font-size: 160%;
}